##############################
## FILES                  ##
##############################
counter.dat

##############################
## DIR                  ##
##############################
content/cache/